[Desktop Entry]
Type=X-MeeGoApplicationExtension
Name=Status Indicator Menu Profile Extension

[X-MeeGoApplicationExtension]
Interface=com.meego.core.MStatusIndicatorMenuExtensionInterface/1.0
Extension=libstatusindicatormenu-profile.so
