*Makefile
*.o
*gen_*.h
*gen_*.cpp
*gen_*.o
*moc_*.h
*moc_*.cpp
*moc_*.o
*~
*.log
*.log.xml
*.gcno
*.gcda
*.pro.user
*tags
lib
*.qm
*.ts
core
doc/html
debian/system-ui
debian/system-ui-dbg*
debian/system-ui-dev*
debian/system-ui-doc*
debian/system-ui-tests*
debian/systemui-l10n-engineering-english*
debian/files
debian/tmp
debian/system-ui.substvars
build-stamp
configure-stamp
localconfig.pri
