*Makefile
*.o
*gen_*.h
*gen_*.cpp
*gen_*.o
*moc_*.h
*moc_*.cpp
*moc_*.o
*~
*.log
*.log.xml
*.gcno
*.gcda
*.pro.user
*tags
lib
*.qm
*.ts
.project
.cproject
core
doc/html
build-stamp
configure-stamp
localconfig.pri
