#connectivityLabel1 {
	color: white;
        font: "Nokia Sans" 18;
}

#connectivityLabel2 {
        color: orange;
        font: "Nokia Sans" 14;
}

#connectivityButton {
        preferred-size: 36 36;
        minimum-size: 36 36;
        maximum-size: 36 36;
}
