#connectivityLinkLabel {
	color: white;
        font: "Nokia Sans" 18;
}

#connectivitySubLabel {
        color: orange;
        font: "Nokia Sans" 14;
}

#connectivityButton {
        preferred-size: 60 60;
        minimum-size: 60 60;
        maximum-size: 60 60;
}

#offlineButton {
        preferred-size: 200 36;
        minimum-size: 400 50;
        maximum-size: 400 50;
}
