@const FONT_XLARGE:  "Nokia Sans" 3.11mm; /* 32px */
@const FONT_LARGE:   "Nokia Sans" 2.72mm; /* 28px */
@const FONT_DEFAULT: "Nokia Sans" 2.34mm; /* 24px */
@const FONT_SMALL:   "Nokia Sans" 1.95mm; /* 20px */
@const FONT_XSMALL:  "Nokia Sans" 1.56mm; /* 16px */
@const COLOR_ACTIVE_FOREGROUND: #ffffff; /* activated item title */
@const COLOR_ACTIVE_BACKGROUND: #CCFF33; /* activated item background */

MSceneWindowStyle#StatusIndicatorMenuWindow {
    background-image: "duiapplicationpage-background";
}

NotificationAreaStyle {
    minimum-size: 100% 80;
    margin-left:   0;
    margin-top:    0;
    margin-right:  0;
    margin-bottom: 0;
}
                
MSceneWindowAnimatorStyle:event_notification {
    transition-in-type: "move.right";
    transition-out-type: "move.to";
    transition-out-destination: 0 78;
    transition-out-fade: false;
}

MButtonIconStyle#StatusIndicatorMenuTopRowExtensionButton {
    font: $FONT_SMALL;
    minimum-size: 96 80;
    preferred-size: 96 80;
    maximum-size: 96 80;
    margin-top: 16;
    text-margin-left: 0;
    text-margin-top: 0;
    text-margin-right: 0;
    text-margin-bottom: 0;
}

StatusAreaStyle {
    background-image:;
    background-color: #000000;
    minimum-size: 100% 6mm;
    preferred-size: 100% 6mm;
    maximum-size: 100% 6mm;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}

MLabelStyle#Notifier {
    background-image: icon-s-status-notifier 9 9 9 9;
    font: $FONT_XSMALL;
    color: #FFFFFF;
    preferred-size: 36 18;
    minimum-size: 36 18;
    maximum-size: 36 18;
}

ClockStyle {
    margin-left: 6;
    margin-right: 6;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    time-format: "hh:mm";
    short-time-format: "hh:mm";
}
ClockStyle:twelve-hour {
    time-format: "h:mmap";
    short-time-format: "h:mm";
}
MLabelStyle#ClockLabel {
    font: $FONT_SMALL;
    color: #FFFFFF;
    margin-left: 1.6mm;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}

StatusIndicatorAnimationStyle {
    /* This style is used when there is no icon ID defined (width is 0) */
    margin-top: 6;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    preferred-size: 0 18;
    minimum-size: 0 18;
    maximum-size: 0 18;
    /* The number of milliseconds in which the images in imageList are animated */
    animation-duration: 3000;
}

StatusIndicatorAnimationStyle:icon {
    /* This style is used when there is an icon ID defined (width is 14) */
    margin-left: 6;
    margin-right: 6;
    preferred-size: 14 18;
    minimum-size: 14 18;
    maximum-size: 14 18;
}

StatusIndicatorLabelStyle {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    preferred-size: 130 3mm;
    minimum-size: 0 3mm;
    maximum-size: 130 3mm;
}

MLabelStyle#StatusIndicatorLabel {
    font: $FONT_SMALL;
    color: #FFFFFF;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    preferred-size: 130 3mm;
    minimum-size: 0 3mm;
    maximum-size: 130 3mm;
}

StatusIndicatorIconStyle#PhoneNetworkSignalStrengthStatusIndicator {
    /* The list of IDs of the images to be shown in the status indicator separated by spaces */
    image-list: "icon-s-status-network0 icon-s-status-network1 icon-s-status-network2 icon-s-status-network3 icon-s-status-network4 icon-s-status-network5";
    preferred-size: 14 18;
    minimum-size: 14 18;
    maximum-size: 14 18;
}

StatusIndicatorIconStyle#PhoneNetworkTypeStatusIndicator2G {
    image-list: "icon-s-status-gsm";
    preferred-size: 16 18;
    minimum-size: 16 18;
    maximum-size: 16 18;
}

StatusIndicatorIconStyle#PhoneNetworkTypeStatusIndicator25G {
    image-list: "icon-s-status-25g";
    preferred-size: 31 18;
    minimum-size: 31 18;
    maximum-size: 31 18;
}

StatusIndicatorIconStyle#PhoneNetworkTypeStatusIndicator3G {
    image-list: "icon-s-status-3g";
    preferred-size: 31 18;
    minimum-size: 31 18;
    maximum-size: 31 18;
}

StatusIndicatorIconStyle#PhoneNetworkTypeStatusIndicator35G {
    image-list: "icon-s-status-35g";
    preferred-size: 31 18;
    minimum-size: 31 18;
    maximum-size: 31 18;
}

StatusIndicatorIconStyle#PhoneNetworkTypeStatusIndicatorNoSIM {
    image-list: "icon-s-status-no-simcard";
    preferred-size: 18 18;
    minimum-size: 18 18;
    maximum-size: 18 18;
}

StatusIndicatorIconStyle#PhoneNetworkTypeStatusIndicatorNoNetwork {
    image-list: "icon-s-status-no-gsm-connection";
    preferred-size: 16 18;
    minimum-size: 16 18;
    maximum-size: 16 18;
}

StatusIndicatorIconStyle#PhoneNetworkTypeStatusIndicatorOffline {
    image-list: "icon-s-status-offline";
    preferred-size: 21 18;
    minimum-size: 21 18;
    maximum-size: 21 18;
}


StatusIndicatorIconStyle#BatteryStatusIndicatorLevel {
    /* The list of IDs of the images to be shown in the status indicator separated by spaces */
    image-list: "icon-s-status-battery-verylow icon-s-status-battery-low icon-s-status-battery1 icon-s-status-battery2 icon-s-status-battery3 icon-s-status-battery4 icon-s-status-battery5 icon-s-status-battery6 icon-s-status-battery7 icon-s-status-battery8";
    preferred-size: 29 18;
    minimum-size: 29 18;
    maximum-size: 29 18;
}

StatusIndicatorIconStyle#BatteryStatusIndicatorCharging {
    /* The list of IDs of the images to be shown in the status indicator separated by spaces */
    image-list: "icon-s-status-battery-verylow icon-s-status-battery-low icon-s-status-battery1 icon-s-status-battery2 icon-s-status-battery3 icon-s-status-battery4 icon-s-status-battery5 icon-s-status-battery6 icon-s-status-battery7 icon-s-status-battery8";
    preferred-size: 29 18;
    minimum-size: 29 18;
    maximum-size: 29 18;
}

StatusIndicatorIconStyle#AlarmStatusIndicator {
    /* The list of IDs of the images to be shown in the status indicator separated by spaces */
    image-list: "";
    preferred-size: 0 18;
    minimum-size: 0 18;
    maximum-size: 0 18;
}

StatusIndicatorIconStyle#AlarmStatusIndicatorSet {
    /* The list of IDs of the images to be shown in the status indicator separated by spaces */
    image-list: "icon-s-status-alarm";
    preferred-size: 16 16;
    minimum-size: 16 16;
    maximum-size: 16 16;
    padding-top: 1;
    padding-bottom: 1;
    margin-left: 0;
}

StatusIndicatorIconStyle#BluetoothStatusIndicator {
    /* The list of IDs of the images to be shown in the status indicator separated by spaces */
    image-list: "";
    preferred-size: 0 18;
    minimum-size: 0 18;
    maximum-size: 0 18;
}

StatusIndicatorIconStyle#BluetoothStatusIndicatorOn {
    /* The list of IDs of the images to be shown in the status indicator separated by spaces */
    image-list: "icon-s-status-bluetooth";
    preferred-size: 14 18;
    minimum-size: 14 18;
    maximum-size: 14 18;
}

StatusIndicatorIconStyle#BluetoothStatusIndicatorActive {
    /* The list of IDs of the images to be shown in the status indicator separated by spaces */
    image-list: "icon-s-status-bluetooth-active";
    preferred-size: 14 18;
    minimum-size: 14 18;
    maximum-size: 14 18;
}

StatusIndicatorIconStyle#InternetConnectionStatusIndicator {
    /* The list of IDs of the images to be shown in the status indicator separated by spaces */
    image-list: "";
    preferred-size: 0 18;
    minimum-size: 0 18;
    maximum-size: 0 18;
}

StatusIndicatorIconStyle#InternetConnectionStatusIndicatorWLAN {
    /* The list of IDs of the images to be shown in the status indicator separated by spaces */
    image-list: "icon-s-status-wlan";
    preferred-size: 24 18;
    minimum-size: 24 18;
    maximum-size: 24 18;
}

StatusIndicatorIconStyle#InternetConnectionStatusIndicatorPacketData {
    /* The list of IDs of the images to be shown in the status indicator separated by spaces */
    image-list: "icon-s-status-packagedata";
    preferred-size: 20 18;
    minimum-size: 20 18;
    maximum-size: 20 18;
}

StatusIndicatorIconStyle#InternetConnectionStatusIndicatorPacketDataActive {
    /* The list of IDs of the images to be shown in the status indicator separated by spaces */
    image-list: "icon-s-status-packetdata-active";
    preferred-size: 20 18;
    minimum-size: 20 18;
    maximum-size: 20 18;
}

StatusIndicatorIconStyle#InternetConnectionStatusIndicatorPacketDataConnecting {
    /* The list of IDs of the images to be shown in the status indicator separated by spaces */
    /* TODO: use the following image list when the icons are available in the theme */
    /* image-list: "icon-s-status-packetdata-connecting-1 icon-s-status-packetdata-connecting-2 icon-s-status-packetdata-connecting-3 icon-s-status-packetdata-connecting-4"; */
    image-list: "";
    preferred-size: 24 18;
    minimum-size: 24 18;
    maximum-size: 24 18;
}

StatusIndicatorIconStyle#InternetConnectionStatusIndicatorWLANConnecting {
    /* The list of IDs of the images to be shown in the status indicator separated by spaces */
    /* TODO: use the following image list when the icons are available in the theme */
    /* image-list: "icon-s-status-wlan-connecting-1 icon-s-status-wlan-connecting-2 icon-s-status-wlan-connecting-3 icon-s-status-wlan-connecting-4"; */
    image-list: "";
    preferred-size: 24 18;
    minimum-size: 24 18;
    maximum-size: 24 18;
}


StatusIndicatorIconStyle#CallStatusIndicator {
    /* The list of IDs of the images to be shown in the status indicator separated by spaces */
    image-list: "";
    preferred-size: 0 18;
    minimum-size: 0 18;
    maximum-size: 0 18;
}

StatusIndicatorIconStyle#CallStatusIndicatorRinging {
    /* The list of IDs of the images to be shown in the status indicator separated by spaces */
    image-list: "icon-s-status-call-initiating1 icon-s-status-call-initiating2";
    preferred-size: 24 18;
    minimum-size: 24 18;
    maximum-size: 24 18;
}

StatusIndicatorIconStyle#CallStatusIndicatorOngoing {
    /* The list of IDs of the images to be shown in the status indicator separated by spaces */
    image-list: "icon-s-status-cellular icon-s-status-ongoing-muted";
    preferred-size: 24 18;
    minimum-size: 24 18;
    maximum-size: 24 18;
}

StatusIndicatorIconStyle#ProfileStatusIndicator {
    /* The list of IDs of the images to be shown in the status indicator separated by spaces */
    image-list: "";
    preferred-size: 0 18;
    minimum-size: 0 18;
    maximum-size: 0 18;
}

StatusIndicatorIconStyle#ProfileStatusIndicatorSilent {
    /* The list of IDs of the images to be shown in the status indicator separated by spaces */
    image-list: "icon-s-status-silent";
    preferred-size: 14 18;
    minimum-size: 14 18;
    maximum-size: 14 18;
}

/* "Offline" presence, no indicator */
StatusIndicatorIconStyle#PresenceStatusIndicator {
    /* The list of IDs of the images to be shown in the status indicator separated by spaces */
    image-list: "";
    preferred-size: 0 18;
    minimum-size: 0 18;
    maximum-size: 0 18;
}

StatusIndicatorIconStyle#PresenceStatusIndicatorAvailable {
    image-list: "icon-s-status-presence-online";
    preferred-size: 18 18;
    minimum-size: 18 18;
    maximum-size: 18 18;
}

StatusIndicatorIconStyle#PresenceStatusIndicatorBusy {
    image-list: "icon-s-status-presence-busy";
    preferred-size: 18 18;
    minimum-size: 18 18;
    maximum-size: 18 18;
}

StatusIndicatorIconStyle#PresenceStatusIndicatorAway {
    image-list: "icon-s-status-presence-away";
    preferred-size: 18 18;
    minimum-size: 18 18;
    maximum-size: 18 18;
}

#shutdownTextBig {
    font: "Nokia Sans" 6.22mm;
}

#shutdownTextSmaller {
    font: $FONT_XLARGE;
}

StatusIndicatorIconStyle#GPSStatusIndicator {
    /* The list of IDs of the images to be shown in the status indicator separated by spaces */
    image-list: "";
    preferred-size: 0 18;
    minimum-size: 0 18;
    maximum-size: 0 18;
}

StatusIndicatorIconStyle#GPSStatusIndicatorOn  {
    /* The list of IDs of the images to be shown in the status indicator separated by spaces */
    image-list: "icon-s-status-gps-on";
    preferred-size: 24 18;
    minimum-size: 24 18;
    maximum-size: 24 18;
}

StatusIndicatorIconStyle#GPSStatusIndicatorSearch  {
    /* The list of IDs of the images to be shown in the status indicator separated by spaces */
    image-list: "icon-s-status-gps-searching1 icon-s-status-gps-searching2";
    preferred-size: 24 18;
    minimum-size: 24 18;
    maximum-size: 24 18;
}

MButtonStyle#StatusIndicatorMenuCloseButton {
    icon-size: 40 40;
    preferred-size: 64 64;
    minimum-size: 64 64;
    maximum-size: 64 64;
}

MOverlayStyle#CloseButtonOverlay {
    background-image: "duistatusmenuclose-background" 0px 0px 0px 0px;
    minimum-size: 100% 6mm;
    preferred-size: 100% 6mm;
    maximum-size: 100% 6mm;
    offset: 0 0;
    vertical-align: bottom;
    horizontal-align: left;
}

MApplicationExtensionAreaStyle#StatusIndicatorMenuTopRowExtensionArea {
    layout-orientation: horizontal;
    container-mode: false;
}
