NotificationAreaStyle {
    minimum-size: 100% 0;
    maximum-size: 100% -1;
    margin-left:   0;
    margin-top:    0;
    margin-right:  0;
    margin-bottom: 0;
    clear-button: true;
    max-banners: -1;
}

MAbstractLayoutPolicyStyle#NotificationAreaBannerLayoutPolicy {
    vertical-spacing: 0.8mm;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0.8mm;
}

MButtonStyle#NotificationAreaClearButton {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    maximum-size: $SIZE_BUTTON 0;
}

MButtonStyle#NotificationAreaClearButtonVisible {
    margin-left: $MARGIN_MEDIUM;
    margin-right: $MARGIN_MEDIUM;
    margin-top: $MARGIN_MEDIUM;
    margin-bottom: $MARGIN_MEDIUM;
    minimum-size: 46mm $SIZE_BUTTON;
    maximum-size: 46mm $SIZE_BUTTON;
}

MWidgetStyle#AndMore {
    maximum-size: 100% 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

MWidgetStyle#AndMoreVisible {
    maximum-size: 100% 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

MLabelStyle#AndMoreLabel {
    font: $FONT_XSMALL;
    color: #ffffff;
}

MBannerStyle {
    disappear-timeout: 10000;
    margin-bottom: 0.9mm;
}
