MSceneWindowStyle#shutdownWindow {
    /*
     * The shutdown-screen window
     * can be customized here
     */
}

MLabelStyle#shutdownTextFirst {
    font: $FONT_XLARGE;
    color: $COLOR_INVERTED_FOREGROUND;
    preferred-size: 100% 50%;
}

MLabelStyle#shutdownTextSecond {
    font: $FONT_LARGE;
    color: $COLOR_INVERTED_FOREGROUND;
    preferred-size: 100% 50%;
}

MWidgetStyle#shutdownLogo.Landscape {
    background-image: "icon-l-startup-nokia-logo";
    background-opacity: 1.0;

    vertical-align: top;
    horizontal-align: left;

    minimum-size: 100% 100%;
    preferred-size: 100% 100%;
    maximum-size: 100% 100%;
}

MWidgetStyle#shutdownLogo.Portrait {
    background-image: "icon-l-startup-nokia-logo-portrait";
    background-opacity: 1.0;

    vertical-align: top;
    horizontal-align: left;

    minimum-size: 100% 100%;
    preferred-size: 100% 100%;
    maximum-size: 100% 100%;
}

