StatusIndicatorMenuStyle {
    padding-top: 2.8mm;

    notification-area: true;
}

MSceneLayerEffect#MenuSceneLayerEffect MWidgetFadeAnimationStyle#In {
    delay: 0;
    /* Using outquint and 200 instead of inoutquint and 350 here despite the specification since those values just feel way too slow in practice */
    easing-curve: outquint;
    duration: 200;
}

MSceneLayerEffect#MenuSceneLayerEffect MWidgetFadeAnimationStyle#Out {
    delay: 0;
    easing-curve: inoutquint;
    duration: 350;
}

StatusIndicatorMenu MWidgetSlideAnimationStyle#In {
    delay: 0;
    /* Using outquint and 200 instead of inoutquint and 350 here despite the specification since those values just feel way too slow in practice */
    duration: 200;
    easing-curve: outquint;
    origin: "top";
}

StatusIndicatorMenu MWidgetSlideAnimationStyle#Out {
    delay: 0;
    duration: 350;
    easing-curve: inoutquint;
    origin: "top";
}

MWidgetStyle#StatusIndicatorMenuExtensionAreaWidget {
    background-image: "meegotouch-applicationpage-background";
}

MWidgetStyle#StatusIndicatorMenuContentWidget {
    background-image: "meegotouch-applicationpage-background";
}

MWidgetStyle#CloseButtonArea {
   background-image: "meegotouch-statusmenuclose-background";
}

MWidgetStyle#StatusIndicatorMenuWindowBackground {
    background-image: "meegotouch-applicationpage-background";
    minimum-size: 100% 0;
    maximum-size: 100% 0;
}

MStatusBarStyle#StatusIndicatorMenuWindowStatusBar {
    enable-status-indicator-menu: false;
}

MButtonIconStyle#StatusIndicatorMenuTopRowExtensionButton {
    font: $FONT_XSMALL;
    text-color: $COLOR_FOREGROUND;
    minimum-size: 8.8mm 7.3mm;
    preferred-size: 8.8mm 7.3mm;
    maximum-size: 8.8mm 7.3mm;
    margin-top: 1.5mm;
    icon-size: 4mm 4mm;
    text-margin-left: 0;
    text-margin-top: 0;
    text-margin-right: 0;
    text-margin-bottom: 0;
}

MContentItemStyle#StatusIndicatorMenuExtensionContentItem {
    title-object-name: "StatusIndicatorMenuExtensionTitle";
    subtitle-object-name: "StatusIndicatorMenuExtensionSubtitle";
}

MLabelStyle#StatusIndicatorMenuExtensionTitle {
    font: $FONT_FAMILY bold 2.6mm;
    color: #ffffff;
}

MLabelStyle#StatusIndicatorMenuExtensionSubtitle {
    font: $FONT_FAMILY light 2.2mm;
    color: #c8c8c8;
}

MButtonStyle#StatusIndicatorMenuCloseButton {
    icon-size: $SIZE_ICON_LARGE $SIZE_ICON_LARGE;
    preferred-size: 6.4mm 6.4mm;
    minimum-size: 6.4mm 6.4mm;
    maximum-size: 6.4mm 6.4mm;
}

MOverlayStyle#CloseButtonOverlay {
    background-image: "meegotouch-statusmenuclose-background" 0px 0px 0px 0px;
    minimum-size: 100% 6mm;
    preferred-size: 100% 6mm;
    maximum-size: 100% 6mm;
    offset: 0 0;
    vertical-align: bottom;
    horizontal-align: left;
}

MApplicationExtensionAreaStyle#StatusIndicatorMenuTopRowExtensionArea {
    background-image: ;
    layout-orientation: horizontal;
    container-mode: false;
}

MPannableWidgetStyle#StatusIndicatorMenuViewport {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    minimum-size: -1 -1;
    preferred-size: -1 -1;
    maximum-size: -1 -1;
    background-image: "meegotouch-applicationpage-background";
}

MContainerStyle#MExtensionAreaInvisibleContainer {
    background-image: ;
}


