#VolumeOverlay {
    padding-left:   10px;
    padding-right:  10px;
    padding-top:    10px;
    padding-bottom: 10px;

    minimum-size: -1 400;
    maximum-size: 100% 100%;

    background-color: black;
    background-opacity: 0.8;
}

#VolumeOverlay.Landscape MWidgetSlideAnimationStyle#In {
    origin: "left";
}

#VolumeOverlay.Landscape MWidgetSlideAnimationStyle#Out {
    origin: "left";
}

#VolumeOverlay.Portrait MWidgetSlideAnimationStyle#In {
    origin: "right";
}

#VolumeOverlay.Portrait MWidgetSlideAnimationStyle#Out {
    origin: "right";
}

