
#FSVolumeOverlay {
    background-color: black;
    background-opacity: 0.8;

    minimum-size: 100% 100%;
    maximum-size: 100% 100%;
}

#FSVolumeBar {
    background-image: "meegotouch-slider-received-background-horizontal" 4px 4px 4px 4px;
    background-opacity: 0.8;

    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;

    minimum-size: 440px 0px;
    maximum-size: 100%  100%;
}

