#networkToggleButton {
	preferred-size: 36 36;
	minimum-size: 36 36;
	maximum-size: 36 36;
}

#networkRoamingButton {
        font: "Nokia Sans" 12;
        preferred-size: 350 50;
        minimum-size: 350 50;
        maximum-size: 350 50;
}

#dataCounterButton {
	font: "Nokia Sans" 12;
        preferred-size: 400 50;
        minimum-size: 400 50;
        maximum-size: 400 50;
}

#networkLabel {
    color: white;    
}
