#basicNetworkButton {
	preferred-size: 36 36;
	minimum-size: 36 36;
	maximum-size: 36 36;
}

#dataCounterButton {
	font: "Nokia Sans" 12;
	preferred-size: 44% 60;
	minimum-size: 44% 60;
	maximum-size: 44% 60;
}

#networkLayoutWidget1 {
	background-opacity: 255;
    	background-color: #141414;
	preferred-size: 800 -1;
	minimum-size: 800 50;
	maximum-size: 800 -1;
}
#networkLayoutWidget2 {
	background-opacity: 255;
    	background-color: #141414;
	preferred-size: 44% 50;
	minimum-size: 44% 50;
	maximum-size: 44% 50;
}

#availableNetwork {
	font: "Nokia Sans" 18;
}

#availableNetwork:selected {
	color: #141414;
	font: "Nokia Sans" 6;
}



#networkLabel {
    color: white;
}
