[Desktop Entry]
Type=X-MeeGoApplicationExtension
Name=Status Indicator Menu SafeMode Extension

[X-MeeGoApplicationExtension]
Interface=com.meego.core.MStatusIndicatorMenuExtensionInterface/1.0
Extension=libstatusindicatormenu-safemode.so
