#batteryTimeLabel {
        color: orange;
/*        font: "Nokia Sans" 14; */
}

#batteryModeLabel {
        color: orange;
/*        font: "Nokia Sans" 14; */
}

#batteryImage {
        preferred-size: 50 50;
        minimum-size: 50 50;
        maximum-size: 50 50;
}
