VolumeBarStyle {
    background-color: black;
    background-image: "meegoui-volume-level" 12px 12px 12px 12px;
    background-opacity: 0.85;

    visible-duration: 1500;
    fade-duration: 250;
    move-duration: 250;
    volume-bar-opacity: 0.5;

    icon-id: "icon-m-music-video-volume";
    muted-icon-id: "icon-m-music-video-volume-off";
    icon-size: 8mm 8mm;

    minimum-size: 100% 100%;
    maximum-size: 100% 100%;
}

MImageWidgetStyle#VolumeBarIcon {
    margin-bottom: 5mm;
}

