Source: cellular-ui
Section: devel
Priority: optional
Maintainer: Ossi Jormakka <ossi.jormakka@ixonos.com>
Build-Depends: debhelper (>= 5), libcellular-qt-dev, libdui-dev
Standards-Version: 3.7.3

Package: cellular-ui
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Cellular user interface: pin/puk query, sim notifications
