Source: system-ui
Section: devel
Priority: optional
Maintainer: David Kedves <dkedves@blumsoft.eu>
Build-Depends: debhelper (>= 5), libduicontrolpanel-dev,
               libdui-dev (>= 0.18), libqmsystem-dev, libalarm-dev,
               libprofile-qt-dev (>= 0.13), duistatusindicatormenu-dev
Standards-Version: 3.7.3

Package: system-ui
Replaces: cellular-ui
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, systemui-l10n-engineering-english, hal, sudo
Description: Various system user interfaces.
  System user interface package contains various user interfaces, e.g:
  - battery notifications
  - screenlock
  - shutdown dialog
  - usb mode selection dialog

Package: system-ui-tests
Section: tests
Priority: optional
Architecture: any
Depends: ${shlibs:Depends},testrunner, ci-testing
XB-Maemo-CI-Packages: system-ui
XB-Maemo-CI-Stage: fast, staging
Description: Test package for system-ui

Package: duicontrolpanel-usbapplet
Section: misc
Architecture: any
Depends:  duicontrolpanel, libduicontrolpanel, systemui-l10n-engineering-english
Description: USB applet for the control panel application

Package: duicontrolpanel-batteryapplet
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, system-ui, libduicontrolpanel, systemui-l10n-engineering-english
Description: Battery settings applet.

Package: duistatusindicatormenu-batteryplugin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, duistatusindicatormenu, systemui-l10n-engineering-english
Description: Battery status indicator menu plugin.

Package: duicontrolpanel-displayapplet
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, duicontrolpanel, systemui-l10n-engineering-english
Description: Display settings applet.

Package: duicontrolpanel-profileapplet
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, duicontrolpanel, systemui-l10n-engineering-english
Description: Profiles settings applet.

Package: duistatusindicatormenu-profileplugin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, duistatusindicatormenu, systemui-l10n-engineering-english
Description: Profile status indicator menu plugin.

Package: systemui-l10n-engineering-english
Section: devel
Architecture: all
Description: Engineering English translations for system-ui packages.

Package: duicontrolpanel-ledapplet
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, duicontrolpanel, systemui-l10n-engineering-english
Description: LED settings applet.
