Source: system-ui
Section: devel
Priority: optional
Maintainer: Vesa Halttunen <vesa.halttunen@nokia.com>
Build-Depends: debhelper (>= 5), doxygen (>=1.5.9), libmeegotouch-dev (>= 0.20.37),
               libqmsystem2-dev (>= 1.2.0), libresourceqt-dev, libcontextsubscriber-dev,
               libngf-dev, libxcomposite-dev, libxext-dev,
               libdbus-1-dev, libdbus-glib-1-dev, libglib2.0-dev,
               aegis-builder (>= 1.4), libduicontrolpanel-dev,
               libqt4-meegographicssystemhelper-dev
Standards-Version: 3.8.0

Package: system-ui
Provides: duistatusindicatormenu
Conflicts: duistatusindicatormenu
Replaces: duistatusindicatormenu, cellular-ui
Architecture: any
Recommends: pulseaudio-module-meego-mainvolume
Depends: ${shlibs:Depends}, ${misc:Depends}, systemui-l10n-engineering-english, duicontrolpanel-privatemodeapplet,
         usb-moded [armel]
Description: Various system user interfaces.
  System user interface package contains various user interfaces, e.g:
  - status area
  - status indicator menu
  - notifications
  - screenlock
  - shutdown dialog
  - usb mode selection dialog
  - volume control ui

Package: system-ui-dbg
Section: devel
Priority: extra
Architecture: any
Depends: system-ui (= ${binary:Version})
Description: System UI - debug symbols

Package: system-ui-tests
Section: devel
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}, system-ui
XB-Maemo-CI-Packages: system-ui
XB-Maemo-CI-Stage: fast, staging
Description: Test package for system-ui

Package: system-ui-dev
Provides: duistatusindicatormenu-dev
Conflicts: duistatusindicatormenu-dev
Replaces: duistatusindicatormenu-dev
Architecture: any
Section: devel
Depends: system-ui (= ${binary:Version})
Description: System UI dev package
 System UI development package

Package: libnotificationsystem0
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Description: Notification System Library

Package: libnotificationsystem-dev
Architecture: any
Section: libdevel
Depends: libnotificationsystem0 (= ${binary:Version})
Description: Notification System Library development files

Package: system-ui-doc
Conflicts: duistatusindicatormenu-doc
Replaces: duistatusindicatormenu-doc
Section: doc
Architecture: all
Description: Documentation for System UI

Package: systemui-l10n-engineering-english
Section: devel
Architecture: all
Description: Engineering English translations for system-ui daemon.

Package: system-ui-screenlock-padlock
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Provides: system-ui-screenlock
Conflicts: system-ui-screenlock
Description: Screen lock extension for system-ui with a padlock

Package: system-ui-volume-fullscreen
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Provides: system-ui-volume
Conflicts: system-ui-volume
Description: Volume extension for system-ui with a full screen view

Package: duicontrolpanel-privatemodeapplet
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Description: Private mode control panel applet
