#!/usr/bin/make -f
# -*- makefile -*-
# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

DEBDIR = ..
CFLAGS = -Wall -Werror -g

comma :=,
empty :=
space := $(empty) $(empty)


ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
    INSTALL_PROGRAM += -s
endif

QMAKE_PARAMS = $(empty)
ifneq (,$(findstring nocheck,$(DEB_BUILD_OPTIONS)))
	QMAKE_PARAMS = BUILD_FEATURES=nocheck
endif

TMP_BUILD_OPTS = $(subst $(comma),$(space),$(DEB_BUILD_OPTIONS))

PARALLEL_MAKEFLAGS +=

ifneq (,$(filter parallel=%,$(TMP_BUILD_OPTS)))
         NUMJOBS = $(patsubst parallel=%,%,$(filter parallel=%,$(TMP_BUILD_OPTS)))
         PARALLEL_MAKEFLAGS += -j$(NUMJOBS)
endif

# Don't build documentation by setting DEB_BUILD_OPTION=nodocs,...
ifneq (,$(findstring nodoc,$(DEB_BUILD_OPTIONS)))
     EXCLUSIONS += --no-package=system-ui-doc
else
     QMAKE_PARAMS += CONFIG+=docs
endif

QMAKE_OPTIONS = COV_OPTION=off $(QMAKE_PARAMS)

configure: configure-stamp
configure-stamp:
	dh_testdir $(EXCLUSIONS)

	qmake -recursive $(QMAKE_OPTIONS)

	touch configure-stamp

build: build-stamp
build-stamp: configure-stamp 
	dh_testdir $(EXCLUSIONS)

	make $(PARALLEL_MAKEFLAGS)

	touch build-stamp

clean:
	dh_testdir $(EXCLUSIONS)
	dh_testroot $(EXCLUSIONS)

	rm -f build-stamp configure-stamp

	-@make $(PARALLEL_MAKEFLAGS) clean

	dh_clean $(EXCLUSIONS)

install: build
	dh_testdir $(EXCLUSIONS)
	dh_testroot $(EXCLUSIONS)
	dh_clean -k $(EXCLUSIONS)
	dh_installdirs $(EXCLUSIONS)

	# Add here commands to install the package into debian/tmp
	INSTALL_ROOT=$(CURDIR)/debian/tmp make  $(PARALLEL_MAKEFLAGS) install

# Build architecture-independent files here.
binary-indep: build install
	# install the translation source file to doc.
	install -m 644 -D -p $(CURDIR)/translations/systemui.ts \
		$(CURDIR)/debian/tmp/usr/share/doc/systemui-l10n-engineering-english/systemui.ts

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir $(EXCLUSIONS)
	dh_testroot $(EXCLUSIONS)
	dh_installchangelogs $(EXCLUSIONS)
	dh_installdocs $(EXCLUSIONS)
	dh_install --sourcedir=debian/tmp $(EXCLUSIONS)
	dh_link $(EXCLUSIONS)
	dh_strip --dbg-package=system-ui-dbg $(EXCLUSIONS)
	dh_compress $(EXCLUSIONS)
	dh_fixperms $(EXCLUSIONS)
	dh_makeshlibs $(EXCLUSIONS)
	dh_installdeb $(EXCLUSIONS)
	dh_shlibdeps $(EXCLUSIONS)
	dh_gencontrol $(EXCLUSIONS)
	dh_md5sums $(EXCLUSIONS)
	dh_builddeb --destdir=$(DEBDIR) $(EXCLUSIONS)

	aegis-deb-add -control debian/system-ui/DEBIAN/control .. debian/system-ui.aegis=_aegis

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure

