/* UnlockSliderStyle : DuiWidgetStyle */
UnlockSliderStyle {
    handle-image: UnlockSliderTemp 0 0 0 0;
    handle-hilighted-image: UnlockSliderTemp 0 0 0 0;
    background-tile-image: UnlockSliderTemp 0 0 0 0;
    icon-image: UnlockSliderTemp 0 0 0 0;

    handle-size: 32 32;
    background-tile-size: 32 32;
    icon-size: 32 32;
    blink-time: 300;
    blink-count: 2;
}
