UnlockSliderStyle : DuiWidgetStyle {

    handle-image: scalable(unlockslider_handle, 0, 0, 0, 0);
    handle-hilighted-image: scalable(unlockslider_handle, 0, 0, 0, 0);
    background-tile-image: scalable(unlockslider_handle, 0, 0, 0, 0);
    lock-icon-image: scalable(unlockslider_handle, 0, 0, 0, 0);

    handle-size: size(32, 32);
    background-tile-size: size(32, 32);
    lock-icon-size: size(32, 32);
}
