#PSMToggleButton {
	preferred-size: size(35, 35);
	minimum-size: size(35, 35);
	maximum-size: size(35, 35);
}

#PSMDisableButton {
	preferred-size: size(35, 35);
	minimum-size: size(35, 35);
	maximum-size: size(35, 35);
}

#batteryLayoutWidget1 {
	background-opacity: 255;
    	background-color: #141414;
	preferred-size: size(400, 50);
	minimum-size: size(400, 50);
	maximum-size: size(400, 50);
}

#batteryLayoutWidget2 {
	background-opacity: 255;
    	background-color: #141414;
	preferred-size: size(807, 150);
	minimum-size: size(807, 150);
	maximum-size: size(807, 150);
}

#batteryLayoutWidget3 {
	background-opacity: 255;
    	background-color: #141414;
	preferred-size: size(807, 150);	
	minimum-size: size(807, 150);
	maximum-size: size(807, 150);
}

