[Desktop Entry]
Type=DUIApplet
Name=Battery
Icon=
Exec=
X-logical-id=qtn_ener_battery
X-translation-catalog=duicontrolpanel-systemui

[DUI]
X-DUIApplet-Applet=libbatteryapplet.so
X-DUIApplet-ImageLandscape=Widget_landscape_weather.png
X-DUIApplet-ImagePortrait=Widget_portrait_weather.png

[DCP]
Category= Device system
Order=1
WidgetType= DcpLabel2

