/*
FIXME: looks very weird:
#PSMAutoButton {
        preferred-size: 36, 36;
        minimum-size: 36, 36;
        maximum-size: 36, 36;
}
*/

#batteryLabel {
/*    color: white;  <- its invisible <dkedves> FIXME */
    color: black;
}

#batteryTimeLabel {
    color: orange;
}
