[Desktop Entry]
Type=DUIApplet
Name=LED light
X-logical-id=qtn_prof_led
# ?? qtn_sett_main_profile
X-translation-catalog=duicontrolpanel-systemui
Icon=
Exec=

[DUI]
X-DUIApplet-Applet=libledapplet.so
X-DUIApplet-ImageLandscape=Widget_landscape_NOT_DEFINED.png
X-DUIApplet-ImagePortrait=Widget_portrait_NOT_DEFINED.png

[DCP]
Category=qtn_sett_main_data
Order=2
WidgetType=DcpLabel
