[Desktop Entry]
Type=DUIApplet
Name=USB
X-logical-id=qtn_usb_title
X-translation-catalog=duicontrolpanel-systemui

Icon=
Exec=

[DUI]
X-DUIApplet-Applet=libusbapplet.so

[DCP]
Category= Connectivity 
Order=3
WidgetType= DcpLabel2

