#vibrationButton {
        preferred-size: 36 36;
        minimum-size: 90% 36;
        maximum-size: 90% 36;
}

#speakerIcon {
        preferred-size: 36 36;
        minimum-size: 36 36;
        maximum-size: 36 36;
}

#slider {
        preferred-size: 36 0;
        minimum-size: 36 0;
        maximum-size: 36 100%;
}

#vibraButton {
        preferred-size: 36 50%;
        minimum-size: 36 36;
        maximum-size: 36 100%;
}

#profileContainerLayout.Landscape {
	background-opacity: 255;
    	background-color: #141414;
        preferred-size: 43% 30%;
        minimum-size: 43% 20%;
        maximum-size: 43% 40%;
}

#profileContainerLayout.Portrait {
        background-opacity: 255;
        background-color: #141414;
        preferred-size: 87% 20%;
        minimum-size: 43% 20%;
        maximum-size: 90% 40%;
}

#profileWidgetLayout.Portrait {
        background-opacity: 255;
        background-color: #141414;
        preferred-size: 90% 100;
        minimum-size: 90% 100;
        maximum-size: 90% 100;
}

#profileWidgetLayout.Landscape {
	background-opacity: 255;
    	background-color: #141414;
	preferred-size: 90% 50;
	minimum-size: 90% 50;
	maximum-size: 90% 50;
}

