[Desktop Entry]
Type=DUIApplet
Name=Profile
X-logical-id=qtn_prof_profile
# ?? qtn_sett_main_profile
X-translation-catalog=duicontrolpanel-systemui
Icon=
Exec=

[DUI]
X-DUIApplet-Applet=libprofileapplet.so
X-DUIApplet-ImageLandscape=Widget_landscape_NOT_DEFINED.png
X-DUIApplet-ImagePortrait=Widget_portrait_NOT_DEFINED.png

[DCP]
Category= qtn_sett_main_look
Order=2
WidgetType= DcpLabel2
Text2= Not found
