[Desktop Entry]
Type=DUIApplet
Name=Display
Icon=
Exec=
X-logical-id=qtn_dcp_display_title
X-translation-catalog=duicontrolpanel-systemui

[DUI]
X-DUIApplet-Applet=libdisplayapplet.so
X-DUIApplet-ImageLandscape=Widget_landscape_NOT_DEFINED.png
X-DUIApplet-ImagePortrait=Widget_portrait_NOT_DEFINED.png

[DCP]
Category= Look & Feel
Order=1
WidgetType=DcpLabel2

