/* UnlockSliderStyle : DuiWidgetStyle */
UnlockSliderStyle {
    handle-image: UnlockSliderArrow 0 0 0 0;
    handle-hilighted-image: UnlockSliderTemp 0 0 0 0;
    background-tile-image: UnlockSliderBG 0 0 0 0;
    icon-image: UnlockSliderTemp 0 0 0 0;

    thickness: 90.0;
    blink-time: 300;
    blink-count: 2;
}
