/* Common view styles */
LockScreenStyle {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    minimum-size: 100% 100%;
    preferred-size: 100% 100%;
    maximum-size: 100% 100%;
}

LockScreenStyle#LockScreenWithDefaultBackground.Landscape {
    background-image: "meegotouch-wallpaper-landscape";
}

LockScreenStyle#LockScreenWithDefaultBackground.Portrait {
    background-image: "meegotouch-wallpaper-portrait";
}

LockScreenStyle#LockScreenWithCustomBackground {
    background-image: ;
}

/* Padlock view styles */
LockScreen MWidgetStyle#LockMostRecentArea {
    background-image: "lockscreen-recent-event-area-background" 12 12 12 12;
    background-opacity: 1.0;

    padding-top: 1.0mm;
    minimum-size: 100% 7.9mm;
    preferred-size: 100% 7.9mm;
    maximum-size: 100% 7.9mm;
}

LockScreen MWidgetStyle#LockMostRecentLabel {
    color: $COLOR_INVERTED_FOREGROUND;
    font: "Nokia Standard Bold" 28;
    /* or "Nokia Standard Light" ??? */
    margin-top: 1.4mm;
    margin-right: $MARGIN_XLARGE;
}

LockScreen MImageWidgetStyle#LockMostRecentIcon {
    margin-top: 1.2mm;
    margin-left: 2.9mm;
    margin-right: $MARGIN_DOUBLE;

    minimum-size: 3.6mm 3.6mm;
    preferred-size: 3.6mm 3.6mm;
    maximum-size: 3.6mm 3.6mm;
}

LockScreen MWidgetStyle#LockOtherEventsArea {
    background-image: "lockscreen-notification-area-background" 12 12 12 12;
    background-opacity: 1.0;

    padding-top: 0.5mm;
    minimum-size: 100% 4.9mm;
    maximum-size: 100% 7mm;
}

LockScreen MImageWidgetStyle#LockNotifierIcon {
    margin-top: 1.2mm;
    margin-left: 2.9mm;

    minimum-size: 3.6mm 3.6mm;
    preferred-size: 3.6mm 3.6mm;
    maximum-size: 3.6mm 3.6mm;
}

LockScreen MLabelStyle#LockNotifierLabel {
    color: $COLOR_INVERTED_FOREGROUND;
    font: "Nokia Standard Light" 28;

    margin-top: 1.4mm;
    margin-left: $MARGIN_LARGE;
    margin-right: $MARGIN_DOUBLE;
}

LockScreenHeaderWithPadlockStyle {
    background-image: "lockscreen-lock-lift-area-background" 0 380 0 0;
    background-opacity: 0.9;

    minimum-size: 100% 14mm;
    preferred-size: 100% 14mm;
    maximum-size: 100% 14mm;

    padlock-visible: false;
}

LockScreenHeaderWithPadlockStyle#LockLiftAreaWithPadlock {
    padlock-visible: true;
}

LockScreen MImageWidgetStyle#lockscreenIconLocked {
    background-image: "lockscreen-lock";
    background-opacity: 1.0;

    margin-right: 2mm;
    margin-top: 2mm;
 
    preferred-size: 10mm 10mm;
    minimum-size:   10mm 10mm;
    maximum-size:   10mm 10mm;
}

LockScreen MWidgetStyle#LockLandArea {
    background-image: none;

    minimum-size: 100% 100;
}

LockScreen MWidgetStyle#LockLandAreaDragged {
    background-image: "lockscreen-lock-land-area-background-dragged" 25 25 25 25;

    minimum-size: 100% 100;
}

LockScreen MWidgetStyle#LockLandAreaActive {
    background-image: "lockscreen-lock-land-area-background-active" 25 25 25 25;

    minimum-size: 100% 100;
}

LockScreen #LockScreenDnDIcon {
    background-image: "lockscreen-lock";
    background-opacity: 1.0;

    minimum-size: 13.8mm 13.8mm;
    preferred-size: 13.8mm 13.8mm;
    maximum-size: 13.8mm 13.8mm;
}

LockScreen #LockScreenDnDIconActive {
    background-image: "lockscreen-lock-active";
    background-opacity: 1.0;

    minimum-size: 13.8mm 13.8mm;
    preferred-size: 13.8mm 13.8mm;
    maximum-size: 13.8mm 13.8mm;
}

LockScreen MImageWidgetStyle#LockScreenUnlockIcon {
    background-image: "lockscreen-lock-land-area-center-background";
    background-opacity: 1.0;

    preferred-size: 10mm 10mm;
    minimum-size:   10mm 10mm;
    maximum-size:   10mm 10mm;
}

/* Padlockless view styles */
LockScreenHeaderStyle {
    minimum-size: 100% -1;
    preferred-size: 100% -1;
    maximum-size: 100% -1;    
}

LockScreenStatusAreaStyle {
    minimum-size: 100% 3mm;
    preferred-size: 100% 3mm;
    maximum-size: 100% 3mm;
    background-color: #000000;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}

LockScreen ClockStyle#LockScreenHeaderClock {
    margin-left: 1.2mm;
    margin-right: 0;
    margin-top: 1.2mm;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    time-format: "%R";
    short-remove-am-pm-indicator: false;
    horizontal-align: left;
}
LockScreen ClockStyle#LockScreenHeaderClock:twelve-hour {
    time-format: "%r";
    short-remove-am-pm-indicator: true;
}
LockScreen MLabelStyle#LockScreenHeaderClockLabel {
    font: $FONT_FAMILY light 8.1mm;
    color: #FFFFFF;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    preferred-size: -1 9mm;
    minimum-size: -1 9mm;
    maximum-size: -1 9mm;
}

LockScreen DateStyle {
    date-format:;
    horizontal-align: left;
}

LockScreen MLabelStyle#DateLabel {
    font: $FONT_SMALL;
    color: #ffffff;
    margin-left: 2.2mm;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    preferred-size: -1 2.4mm;
    minimum-size: -1 2.4mm;
    maximum-size: -1 2.4mm;
}

