#checkBoxButton {
	preferred-size: 36 36;
	minimum-size: 36 36;
	maximum-size: 36 36;
}

#sendCallerIdComboBox {
	preferred-size: size(40%, 50);
	minimum-size: size(30%, 50);
	maximum-size: size(50%, 400);
}

