#lockscreenTimeLabel {
    color: #00DD00;
    font: "Nokia Sans Wide" 52;
}

#lockscreenDateLabel {
    color: #EEEEEE;
    font: "Nokia Sans Wide" 24;
}

#actdeadWindow {
    color: black;
    background-image: "sensorial_bg_2";
    background-color: black;
}

#actdeadLabel {
    color: white;
    font: "Nokia Sans Wide" 32;
}

