#emergencyCallButton {
    icon-size: 32 32;
    minimum-size: 36 36;
    maximum-size: 36 36;
    preferred-size: 36 36;
}

#backspaceButton {
    icon-size: 32 32;
    minimum-size: 36 36;
    maximum-size: 36 36;
    preferred-size: 36 36;
}

#lockscreenTimeLabel {
    color: #00DD00;
    font: "Nokia Sans Wide" 52;
}

#lockscreenDateLabel {
    color: #EEEEEE;
    font: "Nokia Sans Wide" 24;
}
