#emergencyCallButton {
    icon-size: 32 32;
}

#backspaceButton {
    icon-size: 32 32;
}

#lockscreenTimeLabel {
    color: #00DD00;
    font: "Nokia Sans Wide" 52;
}

#lockscreenDateLabel {
    color: #EEEEEE;
    font: "Nokia Sans Wide" 24;
}
