#batteryImage {
        preferred-size: 50 50;
        minimum-size: 50 50;
        maximum-size: 50 50;
}

#batteryHeaderLabel {
    color: white;
    font: "Nokia Sans" 24px;
}

#batteryTimeLabel {
    color: white;
    font: "Nokia Sans" 24px;
}

#batteryModeLabel {
    color: white;
    font: "Nokia Sans" 24px;
}
